img{
height: 70px;
width: 300px;
}

.diferente{
    
    color: white;
}

body{
    
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,22,1) 100%, rgba(0,212,255,1) 100%);;
    
}

h1{
    color: yellow;
}

ul{
    color: white;
}

h3{
    color: white;
    text-align: center;
    font-size: 30px;
}

